[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
motor = "*"
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
email-validator = "*"
beanie = "*"
bcrypt = "==3.2.0"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
