[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-anthropic = "*"
google-generativeai = "*"
beanie = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
openai = "*"
anthropic = "*"
motor = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
passlib = {extras = ["bcrypt"], version = "*"}
email-validator = "*"
bcrypt = "==3.2.0"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
